<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<title>Blog Posts</title>
</head>
<body>
<div class="container">
    <h1>All Posts</h1>
    <hr>
<a class="btn btn-primary" href="/posts/new" style="margin-bottom: 20px;">New Post</a>
<table class="table">
  <thead class="table-dark">
    <tr>
        <td>Author Name</td>
        <td>Title</td>
        <td>Content</td>
        <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% if (posts && posts.length > 0) { %>
      <% posts.forEach(post => { %>
      <tr>
        <td><%= post.author %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>
            <a class="btn btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <% }) %>
    <% } else { %>
      <tr>
        <td>Nothing to show.</td>
      </tr>
      <% } %>
  </tbody>
</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>